<ng-container *ngIf="isValid; else invalidInfoRef">
  <ng-container *ngTemplateOutlet="folderRef; context: { $implicit: 0 }"></ng-container>
</ng-container>

<ng-template #invalidInfoRef>
  <label style="padding: 10px;">无效的命令</label>
</ng-template>


<ng-template #folderRef let-pathDeep>
  <div *ngIf="folders[pathDeep]; else fileRef" class="path">
    <img class="icon" src="/assets/folder.svg" alt="" />
    {{ folders[pathDeep] }}
    <ng-container *ngTemplateOutlet="folderRef; context: { $implicit: pathDeep + 1 }"></ng-container>
  </div>
</ng-template>

<ng-template #fileRef>
  <div class="files" *ngFor="let file of files">
    <img class="icon" src="/assets/file.svg" alt="" />
    {{ file }}
  </div>
</ng-template>