<ng-container *ngTemplateOutlet="folderRef; context: { $implicit: 0 }"></ng-container>

<ng-template #folderRef let-pathDeep>
  <div *ngIf="folders[pathDeep]; else fileRef" class="path">
    <img class="icon" src="/assets/folder.svg" alt="" />
    {{ folders[pathDeep] }}
    <ng-container *ngTemplateOutlet="folderRef; context: { $implicit: pathDeep + 1 }"></ng-container>
  </div>
</ng-template>

<ng-template #fileRef>
  <div class="files" *ngFor="let file of files">
    <img class="icon" src="/assets/file.svg" alt="" />
    {{ file }}
    <ul *ngIf="commandItem">
      <!-- <li>Class: {{ commandItem.extendCommand | transferName: "class" }}</li>
      <li>Dom: app-{{ commandItem.extendCommand | transferName }}</li>
      <li>{{ commandItem.extendCommand | transferName }}.component.html</li>
      <li>{{ commandItem.extendCommand | transferName }}.component.ts</li>
      <li>{{ commandItem.extendCommand | transferName }}.component.spec.ts</li>
      <li>{{ commandItem.extendCommand | transferName }}.component.css</li> -->
    </ul>
  </div>
</ng-template>